html,
body {
    height: 100%;
    width: 100%;
    display: flex;
}

.body-left {
    position: relative;
    height: 100%;
    width: 62%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-right {
    position: relative;
    height: 100%;
    width: 38%;
    right: 0px;
    background-color: #393D49;
    color: #FAFAFA;
}

.body-left .auditResult {
    width: 500px;
    height: 300px;
    position: absolute;
    bottom: 50px;
    border-color: grey;
    border-style: ridge;
    border-width: 3px;
}

.body-left .auditResult p {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 15px;
}

.body-left .auditResult #auditResult1 {
    position: relative;
    left: 50px;
    bottom: -20px;
    height: 250px;
    width: 400px;
    color: black;
    /* background-color: wheat; */
}

.body-left .layui-form {
    position: absolute;
    top: 100px;
}

.body-right p {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 15px;
}

.body-right #auditState {
    position: absolute;
    top: 40px;
    left: 10px;
    height: 500px;
    width: 400px;
    /* background-color: wheat; */
}

.body-right button {
    position: absolute;
    bottom: 50px;
    right: 30px;
}