<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>投票</title>
    <link rel="stylesheet" th:href="@{/css/votePage.css}">
</head>
<body>
    
    <div class="main">
        <div class="voteResult" data-desc="选举结果页面">
            <div class="waitingInner">
                <p class="mainTitle">选举信息</p>
                <div class="voteInfo">
                    <div><span class="title">选举事项：</span> <span th:text="${electAffairStr}"></span></div>
                    <div><span class="title">发布日期：</span> <span th:text="${electStartTime}"></span></div>
                    <div><span class="title">截至日期：</span> <span th:text="${electEndTime}"></span></div>
                    <div><span class="title">选举状态：</span> <span>已结束</span></div>
                    <div><span class="title">投票人数：</span> <span th:text="${electNum}"></span></div>
                </div>
            </div>
            <div class="waitingInner">
                <p class="mainTitle">选举结果</p>
                <table>
                    <tr>
                        <th>候选人</th><th>姓名</th><th>得票结果</th>
                    </tr>
                    <tr>
                        <td>No.1</td><td>1号候选人</td><td th:text="${vote1Result}">***</td>
                    </tr>
                    <tr>
                        <td>No.2</td><td>2号候选人</td><td th:text="${vote2Result}">***</td>
                    </tr>
                    <tr>
                        <td>No.3</td><td>3号候选人</td><td th:text="${vote3Result}">***</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/votePage.js}"></script>
</body>
</html>
