<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>计票员页面</title>
    <link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/index.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/voteSearch.css}" media="all">


</head>


<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>表决事务检索</legend>
</fieldset>

<div class="hezi">
    <form class="layui-form layui-form-pane" th:action="@{/voteCount}">
        <div class="layui-form-item">
            <label class="layui-form-label">项目检索码</label>
            <div class="layui-input-block">
                <input type="text" name="voteSearchNum" autocomplete="off" placeholder="请输入检索码" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">检索</button>
            </div>
        </div>
    </form>
</div>


<script th:src="@{/js/layui.all.js}"></script>
<!--<script th:src="@{/js/laydate.js}"></script>-->
<script>

</script>

</body>
</html>